#subtitle {
    color:white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

#sub_info {
    color: white;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;

}

#delete, #save {
  font-size: 20px;
}

#sortable_layers {
    color: white;
    list-style-type: none;
    padding: 0;
    font-size: 10px;
  }

#sortable_layers li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 0.4em;
    font-size: 1.4em;
    height: 18px;
    cursor: move;
}

#sortable li.selected {
    background-color: #535353;
    color: white;
}

.layer{
    background-color: #535353;
}

.active{
    background-color: #6D7D92;
    border: 1px solid #c5c5c5;
    font-weight: normal;
}

#upload {
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}
