#sidebar_title_div {
    width: 100%;
    height: 30px;
    padding-top: 0;
  }

.option {width: 100% !important;}

#title {
    padding: 6px 8px 6px 16px;
    margin-top: -17px;
    margin-left: 5px;
    text-decoration: underline;
    font-size: 25px;
    color: white;
    display: block;
  }

  .buffer{
    background-color: #4d4fca;
  }

  .buffer_content{
    margin-bottom: 55px !important;
  }

  .dissolve{
    background-color: #e0b84b;
  }

  .union{
    background-color: purple;
  }

  .union_content{
    margin-bottom: 90px !important;
  }

  .intersect{
    background-color: green;
  }

  .intersect_content{
    margin-bottom: 90px !important;
  }

  .diffrence{
    background-color: red;
  }

  .extract {
    color: black;
    background-color: white;
  }



#tool_layer {
  color: white;
  list-style-type: none;
  padding: 0;
  font-size: 10px;
}


#tool_layer li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 0.4em;
  font-size: 1.4em;
  height: 18px;
  cursor: pointer;
}



#tool_title {
  font-size: 18px;
  color: rgb(53, 41, 41);
}

#subtitle {
  color:white;
  text-align: center;
  font-size: 20px;
}
