#sidebar_title_div {
    width: 100%;
    height: 30px;
    padding-top: 0;
  }
  
#title {
    padding: 6px 8px 6px 16px;
    margin-top: -17px;
    margin-left: 5px;
    text-decoration: underline;
    font-size: 25px;
    color: white;
    display: block;
  }