#map {
  height: 100vh;
  margin-right: 165px;
}

#sidebar {
  height: 100%;
  width: 165px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #302e2e;
  overflow-x: hidden;
  padding-top: 20px;
}